<!DOCTYPE html>
<html lang="en">
<title>IM Group 1 Project</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
img.center {
    display: block;
    margin: 0 auto;
}
.center {text-align: center}
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"> <a href="/" style="text-decoration: none;"><b>Group 1 <br>Industrial Maintenance</b></a></h3>
  </div>
  <div class="w3-bar-block">
    <a href="#Introduction" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Introduction</a> 
    <a href="#Background" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Background</a> 
    <a href="#Methods" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Methods</a> 
    <a href="#Results" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Results</a> 
    <a href="#Live-App" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Live App</a> 
    <a href="#Team" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Team</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>IM Group 1</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="Introduction">
    <h1 class="w3-jumbo"><b>2018 Data Science Bowl</b></h1>
    <h1 class="w3-xlarge w3-opacity">Find the nuclei in divergent images to advance medical discovery</h1>
    
    <h1 class="w3-xxxlarge w3-text-red"><b>Introduction</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <div>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra gravida congue. Curabitur molestie nunc sit amet pulvinar congue. Nunc lacus massa, interdum sit amet finibus et, faucibus at quam. In sodales, justo et aliquam vulputate, nunc odio vulputate quam, fermentum ultrices dolor diam pharetra ex. Sed egestas consequat sagittis. Cras luctus lacus sem, et consequat orci porta vel. Mauris eu tellus interdum, pharetra quam nec, interdum est. Aliquam ultrices tortor elit, in dictum diam dictum sed. Morbi nulla enim, finibus eget lectus dapibus, rhoncus gravida mauris. Donec vel magna tellus. Vestibulum et sapien non ipsum luctus dapibus. Vivamus rutrum posuere orci.
      </p>
      <p>
      Aenean vitae leo dui. Quisque mollis lorem in lacus efficitur dapibus. Morbi eu velit vulputate, sagittis est sit amet, fringilla sem. Duis vel convallis tortor. Integer rutrum sodales arcu, a mattis lectus luctus eget. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis consequat imperdiet volutpat. In facilisis justo non sapien ullamcorper, in tincidunt lacus scelerisque. 
      </p>
      <p>
      Cras vel eros volutpat, malesuada sapien a, pretium orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris ipsum nunc, vestibulum in rhoncus at, cursus eu elit. Phasellus aliquet eros nibh. Duis facilisis ornare fringilla. Pellentesque eget varius velit, vel ullamcorper nulla. Nullam nunc ligula, ullamcorper sed quam sed, dictum ullamcorper ipsum. 
      </p>
    </div>
  </div>

  <div class="w3-container" id="Background" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Background</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra gravida congue. Curabitur molestie nunc sit amet pulvinar congue. Nunc lacus massa, interdum sit amet finibus et, faucibus at quam. In sodales, justo et aliquam vulputate, nunc odio vulputate quam, fermentum ultrices dolor diam pharetra ex. Sed egestas consequat sagittis. Cras luctus lacus sem, et consequat orci porta vel. Mauris eu tellus interdum, pharetra quam nec, interdum est. Aliquam ultrices tortor elit, in dictum diam dictum sed. Morbi nulla enim, finibus eget lectus dapibus, rhoncus gravida mauris. Donec vel magna tellus. Vestibulum et sapien non ipsum luctus dapibus. Vivamus rutrum posuere orci.
        </p>
        <p>
        Aenean vitae leo dui. Quisque mollis lorem in lacus efficitur dapibus. Morbi eu velit vulputate, sagittis est sit amet, fringilla sem. Duis vel convallis tortor. Integer rutrum sodales arcu, a mattis lectus luctus eget. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis consequat imperdiet volutpat. In facilisis justo non sapien ullamcorper, in tincidunt lacus scelerisque. 
        </p>
        <p>
        Cras vel eros volutpat, malesuada sapien a, pretium orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris ipsum nunc, vestibulum in rhoncus at, cursus eu elit. Phasellus aliquet eros nibh. Duis facilisis ornare fringilla. Pellentesque eget varius velit, vel ullamcorper nulla. Nullam nunc ligula, ullamcorper sed quam sed, dictum ullamcorper ipsum. 
        </p>
    </div>
    <div>
      <img class ="center" src="{{url_for('static', filename='Nuclei.png')}}" style="width:50%;cursor:pointer;margin:auto;" onclick="onClick(this)" alt="Image discribing Nuclei">
      <p class="center"> caption for image  </p>
    </div>
    
  </div>
  

  <div class="w3-container" id="Methods" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Methods</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <div>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra gravida congue. Curabitur molestie nunc sit amet pulvinar congue. Nunc lacus massa, interdum sit amet finibus et, faucibus at quam. In sodales, justo et aliquam vulputate, nunc odio vulputate quam, fermentum ultrices dolor diam pharetra ex. Sed egestas consequat sagittis. Cras luctus lacus sem, et consequat orci porta vel. Mauris eu tellus interdum, pharetra quam nec, interdum est. Aliquam ultrices tortor elit, in dictum diam dictum sed. Morbi nulla enim, finibus eget lectus dapibus, rhoncus gravida mauris. Donec vel magna tellus. Vestibulum et sapien non ipsum luctus dapibus. Vivamus rutrum posuere orci.
      </p>
      <p>
      Aenean vitae leo dui. Quisque mollis lorem in lacus efficitur dapibus. Morbi eu velit vulputate, sagittis est sit amet, fringilla sem. Duis vel convallis tortor. Integer rutrum sodales arcu, a mattis lectus luctus eget. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis consequat imperdiet volutpat. In facilisis justo non sapien ullamcorper, in tincidunt lacus scelerisque. 
      </p>
      <p>
      Cras vel eros volutpat, malesuada sapien a, pretium orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris ipsum nunc, vestibulum in rhoncus at, cursus eu elit. Phasellus aliquet eros nibh. Duis facilisis ornare fringilla. Pellentesque eget varius velit, vel ullamcorper nulla. Nullam nunc ligula, ullamcorper sed quam sed, dictum ullamcorper ipsum. 
      </p>
    </div>
  </div>


  <div class="w3-container" id="Results" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Results</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <div>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra gravida congue. Curabitur molestie nunc sit amet pulvinar congue. Nunc lacus massa, interdum sit amet finibus et, faucibus at quam. In sodales, justo et aliquam vulputate, nunc odio vulputate quam, fermentum ultrices dolor diam pharetra ex. Sed egestas consequat sagittis. Cras luctus lacus sem, et consequat orci porta vel. Mauris eu tellus interdum, pharetra quam nec, interdum est. Aliquam ultrices tortor elit, in dictum diam dictum sed. Morbi nulla enim, finibus eget lectus dapibus, rhoncus gravida mauris. Donec vel magna tellus. Vestibulum et sapien non ipsum luctus dapibus. Vivamus rutrum posuere orci.
      </p>
      <p>
      Aenean vitae leo dui. Quisque mollis lorem in lacus efficitur dapibus. Morbi eu velit vulputate, sagittis est sit amet, fringilla sem. Duis vel convallis tortor. Integer rutrum sodales arcu, a mattis lectus luctus eget. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis consequat imperdiet volutpat. In facilisis justo non sapien ullamcorper, in tincidunt lacus scelerisque. 
      </p>
      <p>
      Cras vel eros volutpat, malesuada sapien a, pretium orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris ipsum nunc, vestibulum in rhoncus at, cursus eu elit. Phasellus aliquet eros nibh. Duis facilisis ornare fringilla. Pellentesque eget varius velit, vel ullamcorper nulla. Nullam nunc ligula, ullamcorper sed quam sed, dictum ullamcorper ipsum. 
      </p>
    </div>
  </div>  


  <div class="w3-container" id="Live-App" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Live-App</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p> To test the alorithm, you can upload an image. The type must be .png, .jpg, .jpeg, or .gif. The algorithm will then return the image with all of the nuclei highlighted.
      
      {% block app %}
      <p>{{ error }}</p>
      <form method=post enctype=multipart/form-data>
        <div class="h-captcha" data-sitekey="2380b2b1-0209-4631-8c8f-1432f6528777"></div>
        <input type=file name=file> 
        <input type=submit value=Upload>
        </form>
      {% endblock  %}
      
  </div>

  <div class="w3-container" id="Team" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Team</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>This project was completed by Group 1 from Industrial Maintenance class Spring 2021.</p>
    <p><b>The team is composed of the following people</b>:</p>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col m3 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="{{url_for('static', filename='Pic.jpg')}}" alt="Kanru Cheng" style="width:100%">
        <div class="w3-container">
          <h3>Kanru Cheng</h3>
          <p class="w3-opacity">Team Leader / Data Analysis & Algorithm</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra gravida congue. Curabitur molestie nunc sit amet pulvinar congue. Nunc lacus massa, interdum sit amet finibus et, faucibus at quam. In sodales, justo et aliquam vulputate, nunc odio vulputate quam, fermentum ultrices dolor diam pharetra ex. Sed egestas consequat sagittis. </p>
        </div>
      </div>
    </div>
    <div class="w3-col m3 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="{{url_for('static', filename='Pic.jpg')}}" alt="Xiangyu Bao" style="width:100%">
        <div class="w3-container">
          <h3>Xiangyu Bao</h3>
          <p class="w3-opacity">Data Analysis & Algorithm</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra gravida congue. Curabitur molestie nunc sit amet pulvinar congue. Nunc lacus massa, interdum sit amet finibus et, faucibus at quam. In sodales, justo et aliquam vulputate, nunc odio vulputate quam, fermentum ultrices dolor diam pharetra ex. Sed egestas consequat sagittis. </p>
        </div>
      </div>
    </div>
    <div class="w3-col m3 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="{{url_for('static', filename='Pic.jpg')}}"  alt="He Sun" style="width:100%">
        <div class="w3-container">
          <h3>He Sun</h3>
          <p class="w3-opacity">Database, GUI, Front end</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra gravida congue. Curabitur molestie nunc sit amet pulvinar congue. Nunc lacus massa, interdum sit amet finibus et, faucibus at quam. In sodales, justo et aliquam vulputate, nunc odio vulputate quam, fermentum ultrices dolor diam pharetra ex. Sed egestas consequat sagittis. </p>
        </div>
      </div>
    </div>
    <div class="w3-col m3 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="{{url_for('static', filename='Pic.jpg')}}"  alt="Zach Strout" style="width:100%">
        <div class="w3-container">
          <h3>Zach Strout</h3>
          <p class="w3-opacity">Database, GUI, Front end</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra gravida congue. Curabitur molestie nunc sit amet pulvinar congue. Nunc lacus massa, interdum sit amet finibus et, faucibus at quam. In sodales, justo et aliquam vulputate, nunc odio vulputate quam, fermentum ultrices dolor diam pharetra ex. Sed egestas consequat sagittis. </p>
        </div>
      </div>
    </div>
  </div>

  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>

</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
{% if scroll %}
    document.location.hash = '#' + '{{ scroll }}';
{% endif %}
</script>

<script src="https://hcaptcha.com/1/api.js" async defer></script>
</body>
</html>
