<!DOCTYPE html>
<html lang="en">
<title>IM Group 1 Project</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>Group 1 <br>Industrial Maintenance</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="#Introduction" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Introduction</a> 
    <a href="#Background" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Background</a> 
    <a href="#Methods" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Methods</a> 
    <a href="#Results" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Results</a> 
    <a href="#Live-App" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Live App</a> 
    <a href="#Team" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Team</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>IM Group 1</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="Introduction">
    <h1 class="w3-jumbo"><b>2018 Data Science Bowl</b></h1>
    <h1 class="w3-xlarge w3-opacity">Find the nuclei in divergent images to advance medical discovery</h1>
    
    <h1 class="w3-xxxlarge w3-text-red"><b>Introduction.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">

  </div>


  <!-- Services -->
  <div class="w3-container" id="Background" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Background.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <div class = "w3-col s8">
      <p>Pathological quantitative analysis is of great significance to the classification 
        of benign and malignant breast cancer, prostate cancer, lung cancer and other benign and malignant diagnosis.
        Among them, tissue primitive morphology and target measurement are important basis for pathological quantitative analysis.
      </p>
    </div>
    <div class = "w3-col s4">
      <img src="{{url_for('static', filename='Nuclei.png')}}" style="width:100%" onclick="onClick(this)" alt="Image discribing Nuclei(give better name)">
    </div>
    
  </div>
  

  <div class="w3-container" id="Methods" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Methods.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Filler text</p>
  </div>


  <div class="w3-container" id="Results" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Results.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Filler text</p>


  <div class="w3-container" id="Live-App" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Live-App.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    {{ my_string|safe }}
  </div>

  <div class="w3-container" id="Team" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Team.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>This project was completed by Group 1 from Industrial Maintenance class Spring 2021.</p>
    <p><b>The team is composed of the following people</b>:</p>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col m3 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="{{url_for('static', filename='Pic.jpg')}}" alt="Kanru Cheng" style="width:100%">
        <div class="w3-container">
          <h3>Kanru Cheng</h3>
          <p class="w3-opacity">Team Leader / Data Analysis & Algorithm</p>
          <p>Short Bio + research interests</p>
        </div>
      </div>
    </div>
    <div class="w3-col m3 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="{{url_for('static', filename='Pic.jpg')}}" alt="Xiangyu Bao" style="width:100%">
        <div class="w3-container">
          <h3>Xiangyu Bao</h3>
          <p class="w3-opacity">Data Analysis & Algorithm</p>
          <p>Short Bio + research interests</p>
        </div>
      </div>
    </div>
    <div class="w3-col m3 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="{{url_for('static', filename='Pic.jpg')}}"  alt="He Sun" style="width:100%">
        <div class="w3-container">
          <h3>He Sun</h3>
          <p class="w3-opacity">Database, GUI, Front end</p>
          <p>Short Bio + research interests</p>
        </div>
      </div>
    </div>
    <div class="w3-col m3 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="{{url_for('static', filename='Pic.jpg')}}"  alt="Zach Strout" style="width:100%">
        <div class="w3-container">
          <h3>Zach Strout</h3>
          <p class="w3-opacity">Database, GUI, Front end</p>
          <p>Short Bio + research interests</p>
        </div>
      </div>
    </div>
  </div>

  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>

</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>
